//colors

$color-primary:#fff;
$color-black:#111111;
$color-secondary:rgb(250, 210, 31);
$color-gray :#39393F;
$color-gray-light :rgb(78, 78, 80);
$color-gray-white:#e0dddd;
$color-yellow :#CE9900;
$color-yellow-dark:#CC9600;


