

body {
    margin: 0;
    background-color: #f3eded;
}

a {
    text-decoration: none;
}


// *{
//     margin: 0;
//     padding: 0;
    
// }

// html{
//     font-size: 62.5%;
//     background-color: rgb(243, 237, 237);
// }
// body{
//     font-size: 1.6rem;
//     transition:all .5s ease-in-out; 
//     //transition: all .5s ease-in-out;
// }